.filter-popup {
    position:  fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(67, 66, 66, 0.5);
     display: flex;
    align-items: center;
    justify-content: center;
}

.filter-popup-child {
   
}